<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Ascii Art</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&amp;family=Ubuntu:wght@400;500&amp;display=swap" rel="stylesheet">
     <!-- CSS-->
     <link rel="stylesheet" href="static/asciiweb.css" type="text/css">
</head>
<body>

    <section class="sec">
        <header>
                <a class="logo" href="/" style="font-family: Pacifico,'Ubuntu Medium','Ubuntu',sans-serif,'Times New Roman';">Go ASCII art</a>
               
        </header>
    
        <div class="content">
        <div class="textBox">
            <h1 style="font-family: Pacifico,'Ubuntu Medium','Ubuntu',sans-serif,'Times New Roman';">Go ASCII art</h1>
        </div>
    
        <div class="form">
            <form>
    
                <div class="input-group">
                    <div class="input-box">
                        <label for="input-text" class="form-label">Your Text</label>
                        <textarea type="text" name="input-text" class="form-control" id="input-text" readonly>{{ .Input }}</textarea>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <label for="ascii-font" class="form-label">Ascii Font</label>
                        <input type="text" name="ascii-font" class="form-control" id="ascii-font" readonly value="{{ .Banner }}">
                    </div>
                </div>
               
                    
                <div class="" style="white-space: pre">
                    <pre name="output" id="ascii-output"  style="white-space: pre;"> {{ .Result }}</pre>
                </div>
                
                
            </form>
    
        </div>
    
    
    </section>

</body>
</html>