<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Ascii Art</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&amp;family=Ubuntu:wght@400;500&amp;display=swap" rel="stylesheet">
    <!-- CSS-->
    <link rel="stylesheet" href="../static/asciiweb.css" type="text/css">
</head>
<body>

    <section class="sec">
        <header>
                <a class="logo" href="/" style="font-family: Pacifico,'Ubuntu Medium','Ubuntu',sans-serif,'Times New Roman';">Go ASCII art</a>
               
        </header>
    
        <div class="content">
            <div class="textBox">
            <h1 style="font-family: Pacifico,'Ubuntu Medium','Ubuntu',sans-serif,'Times New Roman';">Go ASCII art</h1>
            </div>
  
    
            <div class="input-group">
                <div class="input-box">
                    <img src="/assets/GoError.gif" class="img-fluid" alt="Error image">
             
                </div>
                <div class="textBox">
                    <h1> {{.Code}}</h1>
                    <p> {{.ErrorMsg}}</p>
                </div>

            </div> 
           
        </div>
    
    </section>

</body>
</html>